@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Custom scrollbar for WebKit-based browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 0; /* Remove the scrollbar width */
  background: transparent; /* Optionally remove the scrollbar track background */
}

/* Custom scrollbar for other browsers (Firefox) */
.custom-scrollbar {
  scrollbar-width: none; /* For Firefox, hides the scrollbar */
  -ms-overflow-style: none; /* For IE and Edge, hides the scrollbar */
}

/* Apply this class to the modal's div that needs scrolling */
.custom-scrollbar {
  overflow-y: auto; /* Ensure that the content is scrollable */
}
