<header class="bg-gray-100">
  <div class="px-32 py-10 flex justify-between items-center ">
    <.logo />
    <.filter />
    <div class="flex justify-end  space-x-5 w-[10%] ">
      <.user current_user={@current_user} />
    </div>
  </div>
  <div class="px-32 flex justify-between items-center">
    <.category />
    <.navigation />
    <.flash_sale />
  </div>
</header>
<body>
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</body>
